.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 80px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.header__content {
  display: flex;
  flex-direction: column; /* para empilhar os elementos verticalmente */
  height: 100vh; /* Define a altura do container pai */
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__span-accennt {
  display: block;
  max-width: 709px;
  font-family: "Noto Serif";
  font-size: 58px;
  line-height: 72px;
  font-weight: normal;
  color: #2f80ed;
  font-style: italic;
  margin-bottom: 0px;
}

.header__title {
  margin-top: 183px;
  font-family: "Inter"; /* Corrigido o nome da fonte e adicionado as aspas corretas */
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.header__description {
  margin-top: 28px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute; /* Use position absolute para colocar a imagem onde quiser */
  right: 5px; /* Ajuste essa distância para posicionar a imagem corretamente */
  top: 124px;
  z-index: 1; /* Ajuste o valor para alinhar verticalmente */
}

.header__footer-timings {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer p {
  margin: 0;
}

.header__footer-address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  text-align: right;
  white-space: nowrap;
  z-index: 2;
}
