.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 80px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  flex-direction: column; /* para empilhar os elementos verticalmente */
  height: 100vh; /* Define a altura do container pai */
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__span-accennt {
  display: block;
  max-width: 709px;
  font-family: "Noto Serif";
  font-size: 58px;
  line-height: 72px;
  font-weight: normal;
  color: #2f80ed;
  font-style: italic;
  margin-bottom: 0px;
}

.header__title {
  margin-top: 183px;
  font-family: "Inter"; /* Corrigido o nome da fonte e adicionado as aspas corretas */
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.header__description {
  margin-top: 28px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute; /* Use position absolute para colocar a imagem onde quiser */
  right: 5px; /* Ajuste essa distância para posicionar a imagem corretamente */
  top: 124px;
  z-index: 1; /* Ajuste o valor para alinhar verticalmente */
}

.header__footer-timings {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer p {
  margin: 0;
}

.header__footer-address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  text-align: right;
  white-space: nowrap;
  z-index: 2;
}

.recipes h1 {
  margin: 00px;
}

.recipes__iframe {
  border: none;
}

.recipes {
  padding-top: 100px;
  background-color: #0a2850;
  padding-bottom: 215px;
  padding-left: 80px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.recipes__content {
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin-bottom: 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 40px;
}

.video-container {
  position: relative;
  margin-bottom: 215px;
}

.video-title {
  position: absolute;
  bottom: -54px; /* 40px original + 24px para o espaço extra */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.reservation {
  background-color: #d9e7ff;
  padding-top: 100px;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex; /* Adiciona flexbox à seção */
  flex-direction: column;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center;
}

.reservation__form {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  width: 100%; /* Garante que o contêiner ocupe toda a largura */

}

.form {
  max-width: 385px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Faz os elementos ficarem um embaixo do outro */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center;
}

fieldset {
  all: unset; /* Reseta todos os estilos padrão */
  display: block; /* Garante que o fieldset mantenha seu comportamento de bloco */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove padding */
  border: none; /* Remove borda */
  min-width: 0; /* Remove o tamanho mínimo */
}

.form__main-container {
  display: flex;
  flex-direction: column; /* Faz os elementos ficarem um embaixo do outro */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Centraliza os elementos verticalmente */
  max-width: 385px;
  margin-top: 0px;
}

input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

.form__item {
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  padding-left: 20px;
  font-family: Inter;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__item::placeholder {
  color: #838383;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input-container {
  display: flex;
  max-width: 385px;
  width: 100%;
  flex-direction: column; /* Coloca os elementos um abaixo do outro */
  align-items: flex-start; /* Alinha os elementos à esquerda (ou você pode usar 'center' para centralizá-los) */
  gap: 8px; /* Espaçamento entre os elementos, ajuste conforme necessário */
  ;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.form__handlers {
  display: flex;
  flex-direction: column; /* Coloca os elementos um abaixo do outro */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center;
  max-width: 385px;
}

button {
  all: unset; /* Remove todos os estilos padrão */
  display: inline-block; /* Garante que o botão se comporte como um bloco inline */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura e altura */
  font-family: inherit; /* Herda a fonte do elemento pai */
  font-size: inherit; /* Herda o tamanho da fonte do elemento pai */
  line-height: inherit; /* Herda o line-height do elemento pai */
  text-align: center; /* Centraliza o texto */
  cursor: pointer; /* Aparece a mãozinha ao passar o mouse */
  background-color: transparent; /* Remove qualquer fundo padrão */
  border: none; /* Remove qualquer borda padrão */
  outline: none; /* Remove o contorno ao focar no botão */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

.form__button {
  display: flex;
  flex-direction: column; /* Coloca os elementos um abaixo do outro */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Alinha os elementos à esquerda (ou você pode usar 'center' para centralizá-los) */
  gap: 10px; /* Espaçamento entre os elementos, ajuste conforme necessário */
  width: 385px;
  margin-top: 32px;
  margin-bottom: 32px;
  height: 60px;
  color: white;
  background-color: #2f80ed;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.form__radio {
  display: flex;
}

.form__radio_input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.form__pseudo-item {
  margin-left: 12px;
}

.form__label-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

}
